<ion-header>
 <ion-toolbar transparent>
  <ion-title>Add Review</ion-title>
  <ion-buttons end>
    <button ion-button icon-only (click)="close()"><ion-icon name="close"></ion-icon></button>
  </ion-buttons>
 </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <h1>This is the Detail Event Page</h1>

   <ion-item>
 
        <ion-avatar item-left>
          <img src="https://api.adorable.io/avatars/75/{{review.title}}">
        </ion-avatar>
 
        <h2>{{review.title}}</h2>
        <p>{{review.description}}</p>
 
        <ion-icon *ngIf="review.rating < 50" danger name="sad"></ion-icon>
        <ion-icon *ngIf="review.rating >= 50" secondary name="happy"></ion-icon> 
        {{review.rating}}
  
      </ion-item>
 
</ion-content>
