
.event-detail img {
  max-width: 140px;
  border-radius: 50%;
}

.event-detail p {
  color: #60646B;
}


.property {

  ion-note {
    color: map-get($colors, primary);
    font-weight: normal;
  }

}