<ion-header>
 <ion-toolbar transparent>
  <ion-title>Add Review</ion-title>
  <ion-buttons end>
    <button ion-button icon-only (click)="close()"><ion-icon name="close"></ion-icon></button>
  </ion-buttons>
 </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <ion-list no-lines>
 
    <ion-item>
      <ion-label floating class="item item-input">Title</ion-label>
      <ion-input [(ngModel)]="title" type="text" name="title" required ></ion-input>
    </ion-item>
 <div [hidden]="title && (title.valid || (title.pristine && !isSubmitted))" class="note danger">
        Title is required
      </div>
    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-textarea [(ngModel)]="description"></ion-textarea>
    </ion-item>


     <ion-item>
      <ion-label floating>Content</ion-label>
      <ion-textarea [(ngModel)]="content"></ion-textarea>
    </ion-item>

     <ion-item>
      <ion-label floating>Location</ion-label>
      <ion-textarea [(ngModel)]="location"></ion-textarea>
    </ion-item>

     <ion-item>
      <ion-label floating>Organization</ion-label>
      <ion-textarea [(ngModel)]="organization"></ion-textarea>
    </ion-item>


       <ion-item>
      <ion-label floating>Start Date</ion-label>
  <ion-datetime displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="startDate"></ion-datetime>
    </ion-item>


   <ion-item>
      <ion-label floating>End Date</ion-label>
  <ion-datetime displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="endDate"></ion-datetime>
    </ion-item>




 <ion-item>
      <ion-label floating>Is Active</ion-label>
       <ion-toggle [(ngModel)]="isActive" (change)="onChange()" item-right></ion-toggle>

    </ion-item>
   
 <ion-item>
      <ion-label floating>Number of participants</ion-label>
      <ion-input type="number" placeholder="Number of participants" [(ngModel)]="numberOfParticipants"></ion-input>
    </ion-item>
 


    <ion-item>
      <ion-range min="0" max="100" pin="true" [(ngModel)]="rating">
        <ion-icon range-left name="sad"></ion-icon>
        <ion-icon range-right name="happy"></ion-icon>
      </ion-range>
    </ion-item>
 
  </ion-list>
 
  <button ion-button full color="secondary" (click)="save()">Save</button>
 
</ion-content>



<!--
<div *ngIf="(isSubmitted && f.controls.comment && f.controls.comment.pristine) || ((f.controls.comment) && (f.controls.comment.dirty && f.controls.comment.errors))" class="note danger">
        Please enter {{ 4 - (f.controls.comment.errors.minlength ? f.controls.comment.errors.minlength.actualLength : 0) }} more characters
      </div>-->


<!--

      <div [hidden]="(!isSubmitted) || (f.controls.tos && data.tos)" class="note danger">
        Please check Agree!
      </div>-->



<!--<div *ngIf="(isSubmitted && f.controls.comment && f.controls.comment.pristine) || ((f.controls.comment) && (f.controls.comment.dirty && f.controls.comment.errors))" class="note danger">
  Please enter {{ 4 - (f.controls.comment.errors.minlength ? f.controls.comment.errors.minlength.actualLength : 0) }} more characters
</div>-->



<!--getQuotes() {
    this.http.get("http://localhost:8080/test.json")
      .subscribe(res => {
        this.data = res.json();
        console.log(this.data);
      }, error => {
        console.log(error);
      });
  }-->


  <!--import { Injectable } from '@angular/core';
import { Http } from '@angular/http';-->



<!--this.data = JSON.parse(res._body);-->