<ion-header color="primary">
 <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  <ion-title>
    Events List
  </ion-title>
  <ion-buttons end>
    <button ion-button icon-only (click)="addEvent()"><ion-icon name="add"></ion-icon></button>
  </ion-buttons>
 </ion-navbar>
</ion-header>

<!--
<ion-menu class="side-menu" type="overlay">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Choose subreddit</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-item>
      <ion-label color="primary" floating>Go to subreddit</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <button class="menu-go-button" ion-button  block>Go</button>
  </ion-content>

</ion-menu>-->


<ion-content class="outer-content event-list">
 

  <!--<ion-list no-lines *ngFor="let event of events " [virtualScroll]="events">-->
   
     <ion-grid fixed>
      <ion-row align-items-stretch>

        <!--<ion-col col-12 col-md-6 align-self-stretch align-self-center *virtualItem="let event" approxItemHeight="457px">-->

          <ion-card class="event-card">
            <ion-card-header>



        <!--<button ion-button (click)="goToDetail(event)" ion-button round outline>-->
      <!--<ion-icon name="md-navigate"></ion-icon>-->
       

              <button ion-item detail-none (click)="goToDetail(event)">
                <ion-avatar item-left>
                  
                  <img src="https://api.adorable.io/avatars/75/a" alt="Event pic">
                </ion-avatar>
                ReactJSConf 2017
              </button>
            </ion-card-header>



            <!--<ion-card-content class="outer-content">
              <ion-list>
                <button ion-item *ngFor="let session of speaker.sessions" (click)="goToSessionDetail(session)">
                  <h3>{{event.name}}</h3>
                </button>

                <button ion-item (click)="goToSpeakerDetail(speaker)">
                  <h3>About {{speaker.name}}</h3>
                </button>
              </ion-list>
            </ion-card-content>-->

           

              <ion-row no-padding>
              <ion-col col-12 col-lg-auto text-center text-lg-right>
                <button ion-button clear small color="primary" icon-left (click)="openContact(event)">
                  <ion-icon name='chatboxes'></ion-icon>
                  Contact
                </button>
              </ion-col>
            </ion-row>



             <ion-row no-padding>
              <ion-col col-6 col-lg-auto text-center text-lg-left>
                <button ion-button clear small color="primary" icon-left (click)="goToEventTwitter(event)">
                  <ion-icon name="logo-twitter"></ion-icon>
                  Tweet 
                </button>
              </ion-col>
              <ion-col col-6 col-lg-auto text-center>
                <button ion-button clear small color="primary" icon-left (click)="openEventShare(event)">
                  <ion-icon name='share-alt'></ion-icon>
                  Share
                </button>
              </ion-col>

              </ion-row>

          </ion-card>


<!--              
   <button ion-button color="danger" (click)="deleteevent(event)">
      <ion-icon name="trash"></ion-icon>
          Delete
        </button>
-->

        <!--</ion-col>-->
      </ion-row>
    </ion-grid>

<!--</ion-list>-->
</ion-content>
    <!---->
   
        
    
        

  
<!--
             <button ion-button (click)="goToDetailOrganisation(event)" ion-button round outline>
             <ion-icon name="md-navigate"></ion-icon>
              View Organisation 
          </button>-->

     
 
      
      
         
      
    
<!-- 
  <ion-buttons start>
    <button ion-button icon-only (click)="logout()"><ion-icon name="power">Log out</ion-icon></button>
  </ion-buttons>-->
