<ion-header>
 <ion-navbar transparent>
  <ion-title>
    Review King
  </ion-title>
  <ion-buttons end>
    <button ion-button icon-only (click)="addReview()"><ion-icon name="add"></ion-icon></button>
  </ion-buttons>
 </ion-navbar>
</ion-header>
 
<ion-content>
 
  <ion-list no-lines *ngFor="let review of reviews ">
 
    <ion-item-sliding >
 
      <ion-item class="card">
         <ion-card>
    <ion-card-header>
      App Homepage
    </ion-card-header>
    <ion-card-content>
      Please start to order your pizza now!
    </ion-card-content>
  </ion-card>
 
        <ion-avatar item-left>
          <img src="https://api.adorable.io/avatars/75/{{review?.title}}">
        </ion-avatar>
 
        <h2>{{review?.title}}</h2>
        <p>{{review?.description}}</p>
        <p>{{review?.content}}</p>
        <p>{{review?.location}}</p>
        <p>{{review?.startDate}}</p>
        <p>{{review?.endDate}}</p>
        <p>{{review?.isActive}}</p>
        <p>{{review?.numberOfParticipants}}</p>
        <p>{{review?.createdBy}}</p>

        <ion-icon *ngIf="review.rating < 50" danger name="sad"></ion-icon>
        <ion-icon *ngIf="review.rating >= 50" secondary name="happy"></ion-icon> 
        {{review?.rating}}
   <button ion-button color="danger" (click)="deleteReview(review)">
      <ion-icon name="trash"></ion-icon>
          Delete
        </button>

        <button ion-button (click)="goToDetail(review)" ion-button round outline>
      <ion-icon name="md-navigate"></ion-icon>
        </button>


             <button ion-button (click)="goToDetailOrganisation(review)" ion-button round outline>
             <ion-icon name="md-navigate"></ion-icon>
              View Organisation 
          </button>

      </ion-item>
 
      
      
         
      
    </ion-item-sliding>
 
  </ion-list>
  <ion-buttons start>
    <button ion-button icon-only (click)="logout()"><ion-icon name="power">Log out</ion-icon></button>
  </ion-buttons>
 
</ion-content>