<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>My Profile</ion-title>
   <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>




<!--<ion-content class="outer-content">
  <div padding-top text-center>
    <img src="http://www.gravatar.com/avatar?d=mm&s=140" alt="avatar">
    <h2>{{user?.name}}</h2>
    <button ion-button block color="danger" (click)="changeMenu(MENU.AVATAR)">Sidemenu with avatar</button>
    

    <ion-list inset>
      <button ion-item (click)="updatePicture()">Update Picture</button>
      <button ion-item (click)="changeUsername()">Change Username</button>
      <button ion-item (click)="changePassword()">Change Password</button>
      <button ion-item (click)="support()">Support</button>
      <button ion-item (click)="logout()">Logout</button>
    </ion-list>
  </div>

<ion-fab right bottom>
    <button ion-fab class="pop-in" color="danger" (click)="addEvent()">
        <ion-icon name='add'></ion-icon>
      </button>
  </ion-fab>


</ion-content>-->





<ion-content class="container transparent-header">

  <div class="card-profile">
    <div class="card-profile_visual"></div>
    <div class="card-profile_user-infos">
      <span class="infos_name">{{user?.name}}</span>
      <span class="infos_nick">{{user?.email}}</span>
     <ion-fab center middle class="fabhere" *ngIf="checkAdmin">
    <button ion-fab color="danger"><ion-icon name="md-share"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="primary" (click)="addOrg()"><ion-icon name="md-add-circle"></ion-icon></button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <button ion-fab color="secondary" (click)="showOwnerOrg()"><ion-icon name="ios-list-box"></ion-icon></button>
    </ion-fab-list>
    <ion-fab-list side="left">
      <button ion-fab color="light"><ion-icon name="logo-googleplus"></ion-icon></button>
    </ion-fab-list>
    <ion-fab-list side="right">
      <button ion-fab color="dark"><ion-icon name="logo-twitter"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

    </div>
    <div class="card-profile_user-stats">
      <div class="stats-holder">
        <div class="user-stats">
          <strong>Register Events</strong>
           <span><button  color="dark" ion-fab (click)="getRegEvents()" class="whitehere">{{regeventlength}}</button></span>
        </div>
        <div class="user-stats">
          <strong>Favorite Organisations</strong>
          <span><button color="dark" ion-fab (click)="getFavOrgs()" class="whitehere">{{favorglength}}</button></span>
        </div>
        
      </div>
    </div>
    <!--<div id="posts">
      <ion-card *ngFor="let post of posts">
        <ion-item>
          <ion-avatar item-left>
            <img [src]="user.profileImage">
          </ion-avatar>
          <h2 class="sticky">{{user.name}}</h2>
          <p>{{post.date}}</p>
        </ion-item>
        <img [src]="post.postImageUrl" (click)="imageTapped(post)">
        <ion-card-content>
          <p>{{post.text}}</p>
        </ion-card-content>
        <ion-row>
          <ion-col>
            <button ion-button color="purple" clear small icon-left (click)="like(post)">
                <ion-icon name='thumbs-up'></ion-icon>
                {{post.likes}} Likes
              </button>
          </ion-col>
          <ion-col>
            <button ion-button color="purple" clear small icon-left (click)="comment(post)">
                <ion-icon name='text'></ion-icon>
                {{post.comments}} Comments
              </button>
          </ion-col>
          <ion-col align-self-center text-center>
            <p>
              {{post.timestamp}}
            </p>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>-->
  </div>
</ion-content>